@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html { 
  background: url(clock.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	padding: 50px;
	background-color: rgba(255,255,255,0.25);
	height: 100vh;
}

button {
	background-color: transparent;
	border: 0px;
	padding: 1px 3px 1px 3px;
}


#p-button-container {
	float: left;
}

#b-button-container {
	float: right;
}

.mid-container {
	margin: 50px 0px 25px 0px;
	width: 100%;
}

#binarySpan, #clockdiv {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
}

#main-buttons-container {
	text-align: center;
}

.main-buttons {
	font-size: 22.5px;
	margin-left: 25px;
}

#startButton {
	margin-left: 0px;
	box-shadow: inset 0 -5px 0 0 rgba(0,161,117, 1);
}

#stopButton {
	box-shadow: inset 0 -5px 0 0 rgba(204,39,62, 1);
}

#resetButton {
	box-shadow: inset 0 -5px 0 0 rgba(153,149,149, 1);
}

#breakButton {
	box-shadow: inset 0 -5px 0 0 rgba(63,158,216, 1);
}